@font-face {
  font-family: "Space Grotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 300 700; /* weight range from light to bold */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 900; /* weight range from thin to black */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OCR A Std";
  src: url("/fonts/OCR-A-Std.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Mono Round";
  src: url("/fonts/SF-Mono-Round.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(-5px, -5px);
  }
  75% {
    transform: translate(-10px, 10px);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-400%);
  }
}

.star {
  position: fixed;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  pointer-events: none;
}

.star-red {
  background-color: rgba(255, 69, 0, 0.4);
  box-shadow: 0 0 4px rgba(255, 69, 0, 0.6);
}

.star-green {
  background-color: rgba(0, 255, 102, 0.4);
  box-shadow: 0 0 4px rgba(0, 255, 102, 0.6);
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

code {
  background-color: black !important;
  color: white !important;
}
